.locationCard{
  background-color: #062226;
  margin: 20px auto;
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 1400px
}

.locationCard__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px; 
  margin-bottom: 20px;
}

.locationCard__list {
  display: flex;
  flex-direction:row;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .locationCard__list{
    flex-direction: column;
    align-items: flex-start;
  } 
}

.locationCard__item {
  line-height: 20px;
}

.locationCard__item span{
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}