.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1400px;
}

.pagination__page:hover {
  background-color: #062226;
  border: solid 0.5px #0AF049;
  border-radius: 50%;
}

.pagination__page:active {
  background-color: #062226;
  border: solid 0.5px #0AF049;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .pagination{
    flex-wrap: wrap;
  }

  .pagination__page:hover {
    background-color: #062226;
    border: solid 0.5px #0AF049;
    border-radius: 50%;
  }
}

.pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}