.pagination {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1400px;
}

.pagination__page {
  aspect-ratio: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}