.residentCard {
  background-color: #062226;
  color: #FBFBFB;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.residentCard__img img{
 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.residentCard__status {
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  background-color: #062226;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.residentCard__status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.Alive{
  background-color: rgba(173, 255, 47, 1);
  box-shadow: 0 0 0 0 rgba(173, 255, 47, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.unknown {
  background-color: rgba(105, 105, 105, 1);
  box-shadow: 0 0 0 0 rgba(105, 105, 105, 1);
  animation: pulse-gray 2s infinite;
}

@keyframes pulse-gray {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(105, 105, 105, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(105, 105, 105, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(105, 105, 105, 0);
  }
}

.Dead{
  background-color: rgba(255, 0, 0, 1);
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.residentCard__status-name {
  font-weight: normal;
  font-size: 12px;
}

.residentCard__info {
  padding: 15px;
}

.residentCard__name {
  margin-bottom: 10px;
  font-size: 30px;
}

.residentCard__line{
  position: relative;
  width: 200%;
  left: -40px;
  border: 1px solid #0da32d;
}

.residentCard__list {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.residentCard__item {
  line-height: 20px;
}

.residentCard__item span {
  color: #ffffff;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}