.residentCard {
  background-color: #062226;
  color: #FBFBFB;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.residentCard__status {
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  background-color: #062226;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Alive{
  background-color: greenyellow;
}

.unknown {
  background-color: dimgray;
}

.Dead{
  background-color: red;
}

.residentCard__status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.residentCard__status-name {
  font-weight: normal;
  font-size: 15px;
}

.residentCard__info {
  padding: 20px;
}

.residentCard__name {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: justify;
}

.residentCard__line{
  position: relative;
  width: 200%;
  left: -40px;
  border: 0.5px solid #084851;
}

.residentCard__list {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.residentCard__item {
  line-height: 20px;
}

.residentCard__item span {
  color: #7E7E7E;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}